.zk-component {
    padding-top: 25px;
}

.zk-component-viewer {
    width: 100%;
    min-height: 30rem;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;
}