.zk-component {
    padding-top: 25px;
    padding-bottom: 40px;
    padding-right: 2%;
    padding-left: 2%;
}

.zk-component-viewer {
    width: 100%;
    min-height: 30rem;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;
}